body {
	  background-color:#ffffff;
}

.yammering {
   font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  padding: 20px;
}
h1{
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;}

.YellowBox{
	background-color: #e9cb20;
	padding: 20px;
	
}
.SideBar{width: 400px; float: right; margin-top: 20px }
table{border: 0px; cellspacing: 0px; padding: 5px;
color: #ffffff; background-color: #666666; }


